<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Ticaret</title>
    <link href="~/css/site-index.css" rel="stylesheet" />
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshop/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshop/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshop/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshop/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header>
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +905343001760</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> abooayman20022@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="https://www.instagram.com/_a3amin/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://x.com/home><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdulkarim-haj-amin-656a7b294/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/Kerim200222"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="@(Url.Content("~/eshop/images/home/LogoTest.png"))"
                             alt="Tıkla-Al" />
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Login">
                                <i class="fa fa-lock"></i> Giriş Yap
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                Anasayfa
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="User" asp-action="Update">
                                <i class="fa fa-user"></i>
                                @User.FindFirst("FullName")?.Value
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-controller="Admin" asp-action="Index">
                                    <i class="fa fa-cog"></i> Admin Paneli
                                </a>
                            </li>
                        }

                        <li>
                            <a asp-controller="Account" asp-action="Logout">
                                <i class="fa fa-sign-out"></i> Çıkış Yap
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                Anasayfa
                            </a>
                        </li>
                        <li>
                            <a href="/Cart/Index">
                                <img src="~/Content/Image/ShoppingCart.png" width="15" height="15" /><label style="color:red">
                                    @await Component.InvokeAsync("CartCount")
                                </label> Sepetim
                            </a>
                        </li>
                        <li><a href="/Sales/Index"><i class="fa fa-dollar"></i> Satışlarım</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container" >
                <div class="row" >
                    <div class="col-sm-6">
                        <div class="companyinfo pull-right" >
                            <h2><span>Tıkla</span>Al</h2>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-center" style="padding: 70px;">
                            <ul class="nav navbar-nav">
                                <li><a href="https://www.instagram.com/_a3amin/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://x.com/home><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdulkarim-haj-amin-656a7b294/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/Kerim200222"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2025. Tüm Hakları Sakldır.</p>
                    <p class="pull-right">Designed by <span style="color:#f14a0b">ABDULKARIM and AHMED</span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    <script src="~/eshop/js/jquery.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>

    @* استدعاء أي سكربتات إضافية من الصفحات الفرعية *@
    @RenderSection("Scripts", required: false)
</body>
</html>